header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 1em;
    color: white;
}

p {
    font-size: 1em;
    color: #333;
    margin: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab-button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: #333;
    color: white;
}

.tab-content {
    display: none;
    padding: 20px;
    border-top: 1px solid #ccc;
}

.tab-content.active {
    display: block;
}

h2 {
    color: #333;
    background-color: #f1f1f1;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

a {
    background-color: #333;
    margin: 30px;
    margin-top: 20px;
    padding: 10px 20px 10px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}